*/
/* Common Components */
.my-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 80vh;
    background: blue;
}

.map-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 80vh;
}

.map-container, .grid-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 15px;
}

.map {
    height: 100%;
    min-height: 300px;
    border-radius: 4px;
}

#app div:has(> .ag-charts-wrapper) {
    padding: 1rem;
    height: 400px;
    border-radius: 8px; 
    border: 2px solid black;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

